@{
    Layout = null;
}

@model LoginModel

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Book Store Login</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-1-2">Book Store</span>
    </div>

    <div class="breadcrumb m-1 p-1">

        <div class="text-danger breadcrumb-item" asp-validation-summary="All"></div>

        <form method="post" controller="Account" asp-action="Login">

            <div class="form-text" style="padding-top:30px">
                <label asp-for="Username">User Name:</label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-text" style="padding-bottom:30px" >
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>

            <button class="btn btn-primary" type="submit">Log In</button>

            <input type="hidden" asp-for="ReturnUrl" />

        </form>

    </div>
</body>
</html>